name: flutter_learning
description: "A new Flutter project."

publish_to: "none" 

version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  uuid: ^4.3.3
  google_fonts: ^6.1.0
  cached_network_image: ^3.3.0
  webview_flutter: ^4.13.1
  cupertino_icons: ^1.0.8
  http: ^1.3.0
  get: ^4.7.2
  shared_preferences: 2.2.3
  url_launcher: ^6.3.2
  geolocator: ^10.1.0
  geocoding: ^2.1.1
  permission_handler: ^11.0.1
  agora_rtc_engine: ^6.3.2
  socket_io_client: ^2.0.3+1
  web_socket_channel: ^2.4.0
  rename: ^3.1.0
  webview_flutter_android: ^4.10.11
  webview_flutter_wkwebview: ^3.23.6
  stomp_dart_client: ^3.0.1
  flutter_sound: ^9.2.13
  path_provider: ^2.1.2
  speech_to_text: ^7.3.0
  agora_chat_uikit: ^2.0.1
  crypto: ^3.0.3
  image_picker: ^1.0.4
  file_picker: ^9.0.2
  open_file: ^3.3.2


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  


flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
